/* this is a quick resert - remove default browser styles */
* {
    border: none;
    padding: 0;
    margin: 0%;
    
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

a {
    text-decoration: none;
}

.hidden { display: none;}

#app {
   max-width: none;
    
}

.svg-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}

/* ------------------- Main Header Starts ----------------- */


#header {
    position: sticky;
	background-color: #fff;
	top: 0px;
	border-bottom: 1px solid #e6e6e6;
	box-shadow: 0px 5px 8px #888;
}

#logo {
    grid-column: 1 / span 1;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
}

#mainNav {
    grid-column: 2 / span 2;
    padding-top: 1.5em;
	margin-top: -120px;
    margin-bottom: 40px;
}

#mainNav ul {
    margin: 0;
	padding: 0em 0em .95em;
	text-decoration: none;
	text-align: end;  
}

#mainNav ul li {
	display: inline;
	margin-right: 2em;
    background-color: #1a66de;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

#nav ul li:last-child {
    margin-right: 0em;
}

#mainNav ul li a {
	color: #4dce73;
    font-size: inherit;
}

#mainNav ul li a:hover {
	color: yellow;
}

/* ------------------- Main Header Ends ----------------- */

/* ------------------- SVG ICONS Starts ----------------- */

#tambourine1:hover #blue {
    fill: #4dce73 !important;
}

#tambourine1:hover #green {
    fill: #1a66de !important;
}

#repinique:hover #blue {
    fill: #4dce73 !important;
}

#repinique:hover #green {
    fill: #1a66de !important;
}

#twinHorned:hover #blue {
    fill: #4dce73 !important;
}

#twinHorned:hover #green {
    fill: #1a66de !important;
}

#tambourine2:hover #blue {
    fill: #4dce73 !important;
}

#tambourine2:hover #green {
    fill: #1a66de !important;
}

#tambourine3:hover #blue {
    fill: #4dce73 !important;
}

#tambourine3:hover #green {
    fill: #1a66de !important;
}

#candombeDrum:hover #blue {
    fill: #4dce73 !important;
}

#candombeDrum:hover #green {
    fill: #1a66de !important;
}

#cymbal:hover #blue {
    fill: #4dce73 !important;
}

#cymbal:hover #green {
    fill: #1a66de !important;
}

#maracas:hover #blue {
    fill: #4dce73 !important;
}

#maracas:hover #green {
    fill: #1a66de !important;
}

#snareDrum:hover #blue {
    fill: #4dce73 !important;
}

#snareDrum:hover #green {
    fill: #1a66de !important;
}

#ukulele:hover #blue {
    fill: #4dce73 !important;
}

#ukulele:hover #green {
    fill: #1a66de !important;
}

#mic:hover #blue {
    fill: #4dce73 !important;
}

#mic:hover #green {
    fill: #1a66de !important;
}

#noise:hover #blue {
    fill: #4dce73 !important;
}

#noise:hover #green {
    fill: #1a66de !important;
}

#tambourine1:hover #white, #repinique:hover #white, #twinHorned:hover #white, #tambourine2:hover #white, #tambourine3:hover #white, #candombeDrum:hover #white, #maracas:hover #maracas-2, #snareDrum:hover #white, #cymbal:hover #white, #ukulele:hover #white, #mic:hover #white, #noise:hover #white {
    fill: yellow !important;
}


/* ------------------- SVG ICONS Ends here ----------------- */

.line {
    border-bottom: 2px solid rgb(255, 217, 0);
    grid-column: 1/12;
    margin-bottom: 20px;
    margin-top: 20px;
}

.title {
    color: #1a66de;
    margin-top: 40px;
    text-align: center;
}

.text {
    color: #888;
    text-align: center;
}

.download {
    display: block;
    background-color: rgb(255, 217, 0);
    width: 100px;
    height: 30px;
    padding-top: 6px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 210px;
    color: #1a66de;
    border-radius: 10px;
    justify-self: center;
 }

 .download:hover {
    color: #4dce73
 }

 .container {
    width: 200px;
    height: 200px;
    display: grid;
    justify-self: center;
    margin-bottom: 50px;

}

/* ------------------ Footer Nav starts------------------ */


#footer {
    display: grid;
 }
 
 #footerLogo {
    margin-top: 10px;
    grid-column: 1/4;
    margin-left: 20px;
    margin-bottom: 20px;
 }
 
 #socialMediaFooter {
    grid-column: 4 / span 3;
    text-align: right;
    margin-right: 2em;
    margin-top: 2em;
 }

 #socialMediaFooter ul li {
    display: inline;
    padding: 10px 5px 10px 5px;
 }

 #footNav{
    grid-column: 2 / span 2;
    padding-top: 1.5em;
	margin-top: -7em;
    margin-left: 2em;
 }
 
 #footNav ul li  {
    display: inline;
	margin-right: 1em;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
 }

 #footNav ul li a {
    color: #888;
 }
 
 #footNav ul li a:hover {
    text-decoration: none;
    color: #1a66de;
 }


 /* ------------------ Footer Nav ends ------------------ */
